.main-table, th, td {
    border: 1px solid;
}

.main-table {
    text-align: left;
    position: relative;
    table-layout: fixed;
    min-width: rem-calc(640);
}

th {
    position: sticky;
    top: 0;
    background-color: rgb(227, 2, 2);
}
