.main-table, th, td {
    border: 1px solid;
}

.main-table {
    text-align: left;
    position: relative;
    table-layout: fixed;
    min-width: rem-calc(640);
}

.main-table.th {
    position: sticky;
    top: 0;
    background-color: white;
}

tr {
    text-align: left;
}